{
  "presets": [ "es2015", "stage-2", "react" ],
  "plugins": [
    "add-module-exports",
    [
      "css-modules-transform",
      {
          "extractCss": "./lib/react-fontawesome.css"
      }
    ]
  ]
}
